.DS_Store
node_modules/
.mcp.json
.env
.env.*
!.env.example
test/Draft.ts
/allure-report
/allure-results
/ctrf
/_results_
*.apk
*.aab
*.apks
*.ipa
/tmp-apks-dir/
/scripts/bundletool.jar
/app.json
/.build-info.json
.claude
.claude
/catalog-info.yml
/catalog-info.yaml
/mkdocs.yml
/docs/
/.github/workflows/techdocs.yml